beautifulsoup4
eel
hugchat
keyboard
mediapipe
numpy
openai
pillow
playsound
pyaudio
pyautogui
pyperclip
pyttsx3
pvporcupine
pynput
pywhatkit
requests
speechrecognition
subprocess
time
typing
webbrowser
