beautifulsoup4
eel
hugchat
keyboard
mediapipe
numpy
openai
Pillow
pyaudio
pyautogui
pyperclip
pyttsx3
pvporcupine
pynput
pywhatkit
requests
SpeechRecognition
opencv-python
opencv-python-contrib
